@page "/createjob"
@inject HttpClient HttpClient
@inject IJSRuntime jsRuntime
@inject NavigationManager nav

<style>
    .container-createjob {
        width: 100%;
        margin: auto;
        height: 100%;
        margin-top: 5vh;
        overflow:hidden;
    }
   
    .createjob-top-top{
        height: 5vh;
    }
    .createjob-top-bottom{
        height: 3vh;
    }
    .createjob-bottom{
        width: 100%;
        height: 65vh;
    }
    .createjob-createjob-top-mini {
        height: 5vh;
        margin-top: 0;
        padding-top: 0;
        width: 100%;
        text-align: center;
    }
    .collaborators-createjob-top-mini {
        height: 5vh;
        margin-top: 0;
        padding-top: 0;
        width: 100%;
        color: #666666;
        text-align: center;
    }
    .applicationform-createjob-top-mini {
        height: 5vh;
        margin-top: 0;
        padding-top: 0;
        width: 100%;
        border-radius: 1em;
        color: #666666;
        text-align: center;
    }
    .phases-createjob-top-mini {
        height: 5vh;
        margin-top: 0;
        padding-top: 0;
        width: 100%;
        color: #666666;
        text-align: center;
    }
   
    .createjob-top-number-div {
        padding-top: 1vh;
        height: 5vh;
        
        padding-bottom: 1vh;
    }
    .createjob-top-text-div {
        height: 3vh;
        width: 100%;
    }
    .createjob-top-number {
        font-weight: 900;
        font-size: 1em;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        color: #00bcae;
        font-size: 2em;
    }
    .createjob-top-text {
        font-family: opensans-condensed-bold;
        font-weight: 800;
        font-size: 1em;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        color: #d35bc9;
    }
    .createjob-arrow {
        background-color: transparent;
        height: 5px;
        border-radius: 2em;
        margin-top: 3vh;
    }
    .createjob-bottom-container {
        height: 60vh;
        margin-top: 5vh;
    }

    .createjob-bottom-main-container {
        height: 60vh;
    }
    .createjob-bottom-main {
        height: 55vh;
        width: 100%;
    }
    .createjob-bottom-main-button{
        height: 5vh;
        width: 10%;
        margin-left: 45%;
        margin-right: 45%;
        margin-top: 2vh;
        background-color: #00bcae;
        border: none;
        border-radius: 2em;
        color: white;
        text-align: center;
        font-family: opensans-bold;
        font-weight: 700;
    }
    .createjob-bottom-main-button:hover {
        height: 5vh;
        width: 10%;
        margin-left: 45%;
        margin-right: 45%;
        margin-top: 2vh;
        background-color: #d35bc9;
        border: none;
        border-radius: 2em;
        color: white;
        text-align: center;
        font-family: opensans-bold;
        font-weight: 700;
    }
   .createjob-nav-buttons{
       height: 10vh;
       margin-top: 15vh;
       text-align: center;
       font-size: 50px;
       color: #00bcae;
   }
    .createjob-nav-buttons:hover {
        height: 10vh;
        margin-top: 15vh;
        text-align: center;
        font-size: 50px;
        color: #d35bc9;
    }
    .select-collaborators {
        text-align: center;
        width: 45%;
        margin-left: 5%;
        height: 55vh;
    }
   
</style>

<!--Body Page-->
<div class="container-createjob">
    <div class="row createjob-top">
        <div class="col-1"></div>
        <div class="col-1">
            <div class="createjob-createjob-top-mini">
                <div class="createjob-top-number-div">
                    <i class="fas fa-cubes createjob-top-number"></i>
                </div>
            </div>
        </div>
        <div class="col-2 createjob-arrow"></div>
        <div class="col-1">
            <div class="collaborators-createjob-top-mini">
                <div class="createjob-top-number-div">
                    <i class="fas fa-users createjob-top-number"></i>
                </div>
            </div>
        </div>
        <div class="col-2 createjob-arrow"></div>
        <div class="col-1" >
            <div class="applicationform-createjob-top-mini">
                <div class="createjob-top-number-div">
                    <i class="fab fa-wpforms createjob-top-number"></i>
                </div>
            </div>
        </div>
        <div class="col-2 createjob-arrow"></div>
        <div class="col-1">
            <div class="phases-createjob-top-mini">
                <div class="createjob-top-number-div">
                    <i class="fas fa-clipboard-check createjob-top-number"></i>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row createjob-top-bottom">
        <div class="col-3">
            <div class="createjob-createjob-top-mini">
                <div class="createjob-top-text-div">
                    <h3 class="createjob-top-text">Create A Job</h3>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="collaborators-createjob-top-mini">
                <div class="createjob-top-text-div">
                    <h3 class="createjob-top-text">Select Collaborators </h3>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="applicationform-createjob-top-mini">
                <div class="createjob-top-text-div">
                    <h3 class="createjob-top-text">Create Application Form</h3>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="phases-createjob-top-mini">
                <div class="createjob-top-text-div">
                    <h3 class="createjob-top-text">Select Phases</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="createjob-bottom">

        <div class="row createjob-bottom-container" hidden="@CreateJobIsHidden">
            <div class="col-1 createjob-nav-buttons"></div>
            <div class="col-10 createjob-bottom-main-container">
                <div class="createjob-bottom-main">
                    <XebecPortal.UI.Pages.HR.CreateAJobForm />
                </div>
                <input type="button" value="Save" class="createjob-bottom-main-button" />
            </div>
            <div class="col-1 createjob-nav-buttons" @onclick="ShowCollaborators">
                <i class="fas fa-angle-right" ></i>
            </div>
        </div>
        <div class="row createjob-bottom-container" hidden="@CollaboratorsIsHidden">
            <div class="col-1 createjob-nav-buttons" @onclick="ShowCreateJob">
                <i class="fas fa-angle-left" ></i>
            </div>
            <div class="col-10 createjob-bottom-main-container">
                <div class="createjob-bottom-main">
                    <XebecPortal.UI.Pages.HR.Collaborators />
                </div>
                <input type="button" value="Save" class="createjob-bottom-main-button" />
            </div>
            <div class="col-1 createjob-nav-buttons" @onclick="ShowApplicationForm">
                <i class="fas fa-angle-right"></i>
            </div>
        </div>
        <div class="row createjob-bottom-container" hidden="@ApplicationFormIsHidden">
            <div class="col-1 createjob-nav-buttons" @onclick="ShowCollaborators">
                <i class="fas fa-angle-left" ></i>
            </div>
            <div class="col-10 createjob-bottom-main-container">
                <div class="createjob-bottom-main">
                    <XebecPortal.UI.Pages.HR.ApplicationFormControlTool />
                </div>
                <input type="button" value="Save" class="createjob-bottom-main-button" />
            </div>
            <div class="col-1 createjob-nav-buttons"  @onclick="ShowPhases">
                <i class="fas fa-angle-right"></i>
            </div>
        </div>
        <div class="row create-job-bottom-container" hidden="@PhasesIsHidden">
            <div class="col-1 createjob-nav-buttons" @onclick="ShowApplicationForm">
                <i class="fas fa-angle-left" ></i>
            </div>
            <div class="col-10 createjob-bottom-main-container">
                <div class="create-job-bottom-main">
                    <XebecPortal.UI.Pages.HR.PhaseControlTool />
                </div>
                <input type="button" value="Submit" @onclick="CreateAJob" class="createjob-bottom-main-button" />
            </div>
            <div class="col-1 createjob-nav-buttons"></div> 
        </div>
    </div>
</div>

@code {

    private bool CreateJobIsHidden, CollaboratorsIsHidden, ApplicationFormIsHidden, PhasesIsHidden;

    protected override async Task OnInitializedAsync()
    {
        CreateJobIsHidden = false;
        CollaboratorsIsHidden = ApplicationFormIsHidden = PhasesIsHidden = true;
    }

    private void ShowCreateJob()
    {
        CreateJobIsHidden = false;
        CollaboratorsIsHidden = ApplicationFormIsHidden = PhasesIsHidden = true;
    }

    private void ShowCollaborators()
    {
        CollaboratorsIsHidden = false;
        CreateJobIsHidden = ApplicationFormIsHidden = PhasesIsHidden = true;
    }

    private void ShowApplicationForm()
    {
        ApplicationFormIsHidden = false;
        CreateJobIsHidden = CollaboratorsIsHidden = PhasesIsHidden = true;
    }

    private void ShowPhases()
    {
        PhasesIsHidden = false;
        CreateJobIsHidden = ApplicationFormIsHidden = CollaboratorsIsHidden = true;
    }

    private void navTo(CreateJobPost tempJob)
    {
        nav.NavigateTo($"/applicationformcontroltool/{tempJob}");
    }

    private void CreateAJob()
    {

    }


}