@page "/postajob"

@using Bogus
@using XebecPortal.UI.Services.Models
@using System.Text

@inject HttpClient HttpClient
@inject IJSRuntime jsRuntime
@inject NavigationManager nav
@inject CreateJobPost TempJob
<style>

</style>

<div class="appform-container">

</div>
@code {

}
