@page "/applicationform"
@inject HttpClient httpClient
@using Models 

<style>
    .app-form-wrapper {
        margin-left: 20%;
        width: 60%;
        min-height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .application-form {
        width: 550px;
        height: 500px;
        background-color: #f2f2f2;
        border-radius: 5px;
        border: 2px solid grey;
    }
    .application-form-title{
        width:100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        font-size: 20px;
    }
    .application-form-question-area {
        width: 100%;
        height: 75%;
        overflow-y: auto;
    }
    .application-form-button{
        width: 100%;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .application-form-question{
        max-width: 90%;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        word-wrap: break-word;
    }
</style>


<div class="app-form-wrapper">
    <div class="application-form">
        <div class="application-form-title">
            Application Form
        </div>
        <div class="application-form-question-area">
            <table class="table">
                <tbody>
                    @if(ApplicantAnswers != null)
                    {
                        @foreach(var customquestion in ApplicantAnswers)
                        {
                        <tr>
                            <td>
                                <div class="application-form-question">
                                    <h6 class="form-text text-muted" style="font-size: 14px; width: 90%;">@customquestion.HRQuestion</h6>
                                    <input type="text" class="form-control" placeholder="Answer..." style="width: 80%" @bind="customquestion.ApplicantAnswer">
                                </div>
                            </td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="application-form-button">
            <button class="btn" style="color: white; background-color: #00BCAE" @onclick="SaveAnswers">Submit</button>
        </div>
    </div>
</div>

@code {

    List<Job> Jobs = null;
    int CurrentJobId = 0;
    int CurrentAppUser = 0;

    List<FormQuestion> QuestionList = new List<FormQuestion>();
    List<ApplicantQuestion> ApplicantAnswers = new List<ApplicantQuestion>();
    List<ApplicantAnswer> AnswerList = new List<ApplicantAnswer>();


    protected override async Task OnInitializedAsync()
    {

        Jobs = await httpClient.GetFromJsonAsync<List<Job>>("https://xebecapi.azurewebsites.net/api/job");
        Job tempJob = Jobs.LastOrDefault<Job>();

        CurrentJobId = tempJob.id;

        QuestionList = await httpClient.GetFromJsonAsync<List<FormQuestion>>($"https://xebecapi.azurewebsites.net/api/questionnairehrform/HR/{CurrentJobId}");

        foreach (var q in QuestionList)
        {
            ApplicantQuestion tempAppQuuestion = new ApplicantQuestion();
            tempAppQuuestion.HRQuestion = q.question;
            tempAppQuuestion.HRQuestionId = q.id;

            ApplicantAnswers.Add(tempAppQuuestion);
        }
    }

    public async Task SaveAnswers()
    {
        foreach(var q in ApplicantAnswers)
        {
            ApplicantAnswer tempAnswer = new ApplicantAnswer();
            tempAnswer.applicantAnswer = q.ApplicantAnswer;
            tempAnswer.questionnaireHRFormId = q.HRQuestionId;
            tempAnswer.appUserId = CurrentAppUser;

            Console.WriteLine(tempAnswer.applicantAnswer);
            Console.WriteLine(tempAnswer.questionnaireHRFormId);
            Console.WriteLine(tempAnswer.appUserId);

            AnswerList.Add(tempAnswer);
        }

        await httpClient.PostAsJsonAsync<List<ApplicantAnswer>>("https://xebecapi.azurewebsites.net/api/customquestionforapplicants", AnswerList);
    }
}
