@page "/applicantjobportal"

<div hidden="@mainmodel.ApplicantIsHidden">
    <h3>JobPortal</h3>
</div>
<div hidden="@mainmodel.DeveloperIsHidden">
    <h3>You are not authorised to view this page.</h3>
</div>
<div hidden="@mainmodel.HRIsHidden">
    <h3>You are not authorised to view this page.</h3>
</div>


@code {

    private MainModel mainmodel { get; set; } = new MainModel();

}