@page "/applicantservices"
@inject NavigationManager navmanager
@inject HttpClient HttpClient
@using System.Linq;
@using XebecPortal.UI.Shared.Home.Models

<style>
    .overlay-services {
        height: auto;
        width: 100vw;
        overflow: hidden;
        animation: ease-in 0.15s;
    }

    .top {
        height: 10vh;
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    .bottom {
        padding-top: 5vh;
        height: auto;
        width: 100vw;
        display: flex;
    }

    .top-heading {
        height: 10vh;
        line-height: 10vh;
        color: #004393;
        font-size: 2em;
        font-family: opensans-condensed-bold;
    }

    .three {
        height: auto;
        width: 33.3vw;
    }    

    .three-container {
        height: 65vh;
        width: 95%;
        margin: auto;
    }

    .services-label {
        height: 10vh;
        border-top-left-radius: 7em;
        border-top-right-radius: 7em;
        color: white;
        text-align: center;
        background-color: #00bcae;
        font-weight: 700;
        font-size: 1em;
        line-height: 10vh;
        font-family: opensans-bold;
        width: 90%;
        margin: auto;
    }

    .services-image {
        height: 30vh;
        width: 90%;
        margin: auto;
        background-color: white;
    }

    .services-bottom {
        height: 20vh;
        width: 90%;
        margin: auto;
        background-color: white;
        border-bottom-left-radius: 7em;
        border-bottom-right-radius: 7em;
    }

    .applicant-profile {
        height: 30vh;
        background-image: url(/Img/applicantprofile.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        cursor: zoom-in;
    }

    .applicant-profile-zoomed {
        height: 100%;
        background-image: url(/Img/applicantprofile.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        cursor: zoom-out;        
    }

    .applicant-job-portal {
        height: 30vh;
        background-image: url(/Img/applicantjobportal.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        cursor: zoom-in;
    }

    .applicant-job-portal-zoomed {
        height: 100%;
        background-image: url(/Img/applicantjobportal.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        cursor: zoom-out;        
    }

    .applicant-my-jobs {
        height: 30vh;
        background-image: url(/Img/myjobs.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        cursor: zoom-in;
    }

    .applicant-my-jobs-zoomed {
        height: 100%;
        background-image: url(/Img/myjobs.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        cursor: zoom-out;
    }   

    p {
        color: #004393;
        padding: 2em 1em 1em 1em;
        font-family: opensans-condensed-bold;
        font-size: 1em;
        text-align: center;
    }

    .applicant-zoomed-image-location {
        width: 90%;
        height: 80vh;
        position: absolute;
        top: 0%;
        left: 5%;
    }
   
</style>

<div class="overlay-services">
    <div class="top">
        <h2 class="top-heading">APPLICANT SERVICES</h2>
    </div>
    <div class="bottom">
        <div class="three">
            <div class="services-label">APPLICANT PROFILE</div>
            <div class="services-image">
                <div class="applicant-profile" @onclick="zoomApplicantProfile"></div>
            </div>
            <div class="services-bottom">
                <p>
                    Upload your CV to our specialized AI form processor.
                </p>
            </div>
        </div>


        <div class="three">
            <div class="services-label">JOB PORTAL</div>
            <div class="services-image">
                <div class="applicant-job-portal" @onclick="zoomApplicantJobPortal"></div>
            </div>
            <div class="services-bottom">
                <p>
                    Scan through all the jobs available on the platform.
                </p>
            </div>
        </div>


        <div class="three">
            <div class="services-label">MY JOBS</div>
            <div class="services-image">
                <div class="applicant-my-jobs" @onclick="zoomApplicantMyJobs"></div>
            </div>
            <div class="services-bottom">
                <p>
                    Track the status of your applications.
                </p>
            </div>
        </div>
    </div>

    @if (zoomedApplicantProfile)
    {
        <div class="applicant-zoomed-image-location">
            <div class="applicant-profile-zoomed" @onclick="zoomApplicantProfile"></div>
        </div>
    }

    @if (zoomededApplicantJobPortal)
    {
        <div class="applicant-zoomed-image-location">
            <div class="applicant-job-portal-zoomed" @onclick="zoomApplicantJobPortal"></div>
        </div>
    }
    @if (zoomedApplicantMyJobs)
	{
        <div class="applicant-zoomed-image-location">
            <div class="applicant-my-jobs-zoomed" @onclick="zoomApplicantMyJobs"></div>
        </div>
	}
</div>

@code {

    private bool zoomedApplicantProfile = false;
    private bool zoomededApplicantJobPortal = false;
    private bool zoomedApplicantMyJobs = false;

    private void zoomApplicantProfile()
    {
        if (zoomedApplicantProfile)
        {
            zoomedApplicantProfile = false;
        }
        else
        {
            zoomedApplicantProfile = true;
        }
    }

    private void zoomApplicantJobPortal()
    {
        if (zoomededApplicantJobPortal)
        {
            zoomededApplicantJobPortal = false;
        }
        else
        {
            zoomededApplicantJobPortal = true;
        }
    }

    private void zoomApplicantMyJobs()
    {
        if (zoomedApplicantMyJobs)
        {
            zoomedApplicantMyJobs = false;
        }
        else
        {
            zoomedApplicantMyJobs = true;
        }
    }
}
