@page "/contact"
<style>
    .overlay-contact {
        z-index: 0;
        height: 80vh;
        top: 0;
        width: 100%;
        background-color: orange;
    }
</style>
<div class="overlay-contact">

</div>