@page "/"
@inject NavigationManager navmanager
@inject HttpClient httpclient
@using System.Media
@using System.Linq;
@using XebecPortal.UI.Shared.Home.Models
@using System;
@using System.IO;
@using System.Threading.Tasks
@using Azure
@using System.Net.Http.Headers;
@using Azure.Storage.Blobs
@using Azure.Storage.Blobs.Models
@inject IJSRuntime JS

<style>
    .home-container {
        height: 90vh;
        width: 100vw;
        animation: ease-in 0.15s;
    }

    .overlay-home {
        height: 90vh;
        display: flex;
    }

    .left {
        height: 90vh;
        width: 40%;
    }

    .right {
        height: 90vh;
        width: 60%;
        //display: flex;
    }

    .home-left-block {
        margin-top: 15vh;
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
        text-align: center;
        height: 60vh;
    }

    .home-image-container {
        height: 60vh;
        width: 40%;
        margin-right: 10%;
        border-top-left-radius: 7em;
        border-top-right-radius: 7em;
        transition: 0.2s all ease-in-out;
    }

    .home-left-heading {
        height: 40vh;
        margin-bottom: 5vh;
        width: 70%;
        margin: auto;
    }

    .home-left-body {
        height: 15vh;
        margin-top: 2.5vh;
        width: 100%;
    }

        .home-left-body p {
            color: black;
            text-align: center;
            font-family: opensans-condensed-light;
            font-weight: 600;
            font-size: 1.3em;
            text-transform: uppercase;
        }

    .home-xebec-logo {
        height: 40vh;
        max-width: 100%;
        background-image: url(/Img/xebeclogoblack.png);
        background-size: cover;
        background-position: center;
    }

    .image1 {
        height: 50vh;
        margin-top: 10vh;
        border-top-left-radius: 7em;
        border-top-right-radius: 7em;
        background-image: linear-gradient(rgba(0, 188, 174,0.3),rgba(0, 188, 174,0.3)),url(/Img/c.jpg);
        background-size: cover;
        background-position: center;
    }


    .image2 {
        height: 50vh;
        margin-top: 20vh;
        border-top-left-radius: 7em;
        border-top-right-radius: 7em;
        background-image: linear-gradient(rgba(0, 188, 174,0.3),rgba(0, 188, 174,0.3)),url(/Img/d.jpg);
        background-size: cover;
        background-position: center;
    }

    .home-image-label {
        height: 10vh;
        border-bottom-left-radius: 7em;
        border-bottom-right-radius: 7em;
        color: white;
        text-align: center;
        background-color: #00bcae;
        font-weight: 700;
        font-size: 1em;
        line-height: 10vh;
        font-family: opensans-bold;
    }
   

</style>

<div class="home-container">
    <div class="overlay-home">
        <div class="left">
            <div class="home-left-block">
                <div class="home-left-heading">
                    <div class="home-xebec-logo"></div>
                </div>
                <div class="home-left-body">
                    <p>We streamline the recruitment experience with analytical feedback in a unified space.</p>
                </div>
            </div>
        </div>
        <div class="right">

            @*
            <div class="home-image-container">
            <div class="image1"></div>
            <div class="home-image-label">APPLICANTS PORTAL</div>
        </div>
        <div class="home-image-container">
            <div class="image2"></div>
            <div class="home-image-label">HUMAN RESOURCES PORTAL</div>
        </div>
            *@
            <XebecPortal.UI.Shared.Components.Text_Editor.TextEditor content="@content"/>

        </div>
    </div>
</div>

@code{

    private string content = "Room Raccoon was founded by an independent hotel owner who understood the real struggles faced by hoteliers. This led to a drive to find a solution that really works — and we found one! We're proud to say that Room Raccoon was voted Best Hotel Management System in 2020 and 2021.";

}