@page "/hrservices"
@inject NavigationManager navmanager
@inject HttpClient HttpClient
@using System.Linq;
@using XebecPortal.UI.Shared.Home.Models

<style>
    .overlay-services {
        height: auto;
        width: 100vw;
    }

    .top {
        height: 10vh;
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    .bottom {
        padding-top: 5vh;
        height: auto;
        width: 100vw;
        display: flex;
    }

    .top-heading {
        height: 10vh;
        line-height: 10vh;
        color: #004393;
        font-size: 2em;
        font-family: opensans-condensed-bold;
    }

    .three {
        height: auto;
        width: 33.3vw;
    }

    .three-high1 {
        height: 50vh;
        margin-top: 10vh;
        width: 40vw;
        z-index: 2;
        position: absolute;
        margin-left: 0;
        background-color: white;
    }

    .three-high2 {
        height: 50vh;
        margin-top: 10vh;
        width: calc(40vw);
        z-index: 2;
        position: absolute;
        margin-left: calc(100vw/3);
        background-color: white;
    }

    .three-high3 {
        height: 50vh;
        margin-top: 10vh;
        width: calc(40vw);
        z-index: 2;
        position: absolute;
        margin-left: calc(2*100vw/3);
        background-color: white;
    }

    .three-container {
        height: 65vh;
        width: 95%;
        margin: auto;
    }

    .services-label {
        height: 10vh;
        border-top-left-radius: 7em;
        border-top-right-radius: 7em;
        color: white;
        text-align: center;
        background-color: #00bcae;
        font-weight: 700;
        font-size: 1em;
        line-height: 10vh;
        font-family: opensans-bold;
        width: 90%;
        margin: auto;
    }

    .services-image {
        height: 30vh;
        width: 90%;
        margin: auto;
        background-color: white;
    }

    .services-bottom {
        height: 20vh;
        width: 90%;
        margin: auto;
        background-color: white;
        border-bottom-left-radius: 7em;
        border-bottom-right-radius: 7em;
    }

    .applicant-applicant-profile {
        height: 30vh;
        background-image: url(/Img/applicantprofile.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .applicant-job-portal {
        height: 30vh;
        background-image: url(/Img/applicantjobportal.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .applicant-my-jobs {
        height: 30vh;
        background-image: url(/Img/myjobs.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .hr-job-portal {
        height: 30vh;
        background-image: url(/Img/applicantcontrol.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .hr-data-analytics {
        height: 30vh;
        background-image: url(/Img/dat.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .hr-create-a-job {
        height: 30vh;
        background-image: url(/Img/createjob.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    p {
        color: #004393;
        padding: 2em 1em 1em 1em;
        font-family: opensans-condensed-bold;
        font-size: 1em;
        text-align: center;
    }

    .applicant-applicant-profile1 {
        height: 100%;
        background-image: url(/Img/applicantprofile.png);
        background-size: cover;
        background-position: center;
    }

    .applicant-job-portal1 {
        height: 100%;
        background-image: url(/Img/applicantjobportal.png);
        background-size: cover;
        background-position: center;
    }

    .applicant-my-jobs1 {
        height: 100%;
        background-image: url(/Img/myjobs.png);
        background-size: cover;
        background-position: center;
    }

    .hr-job-portal1 {
        height: 50vh;
        margin-top: 10vh;
        background-image: url(/Img/applicantcontrol.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .hr-data-analytics1 {
        height: 50vh;
        margin-top: 10vh;
        background-image: url(/Img/dat.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .hr-create-a-job1 {
        height: 50vh;
        margin-top: 10vh;
        background-image: url(/Img/createjob.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
</style>

<div class="overlay-services">
    <div class="top">
        <h2 class="top-heading">HR SERVICES</h2>
    </div>
    <div class="bottom">
        <div class="three">
            <div class="services-label">APPLICANT CONTROL TOOL</div>
            <div class="services-image">
                <div class="hr-job-portal" @onmouseover="ShowApplicantControl"></div>
            </div>
            <div class="services-bottom">
                <p>
                    This is a space where you can track the status of jobs advertised on the platform,
                    view collaborators and hiring managers for jobs and edit job advertisments.
                    You can also control the status of applicants and view their application profile
                    and application form.
                </p>
            </div>
        </div>
        @if (ApplicantControl)
        {
            <div class="three-high1" @onmouseout="ShowApplicantControl">
                <div class="hr-job-portal1"></div>
            </div>
        }
        <div class="three">
            <div class="services-label">JOB CONTROL TOOL</div>
            <div class="services-image">
                <div class="hr-create-a-job" @onmouseover="ShowJobControl"></div>
            </div>
            <div class="services-bottom">
                <p>
                    We take you through a 5 step job creation and advertising process.
                    Here, you can fill in details of a job advert,
                    select the platforms where the job should be advertised,
                    select collaborators, create an application form and job phases.
                </p>
            </div>
        </div>
        @if (JobControl)
        {
            <div class="three-high2" @onmouseout="ShowJobControl">
                <div class="hr-create-a-job1"></div>
            </div>
        }
        <div class="three">
            <div class="services-label">DATA ANALYTICS TOOL</div>
            <div class="services-image">
                <div class="hr-data-analytics" @onmouseover="ShowDat"></div>
            </div>
            <div class="services-bottom">
                <p>
                    We provide you with a comprehensive data analytics tool where you can track
                    the conversion rate, gender statistics, job portal statistics, employment type statistics,
                    recruiting funnel, site activity and review your talent pool.
                </p>
            </div>
        </div>
        @if (Dat)
        {
            <div class="three-high3" @onmouseout="ShowDat">
                <div class="hr-data-analytics1"></div>
            </div>
        }
    </div>
</div>

@code {
   
    private bool Dat, JobControl, ApplicantControl;

   

    private void ShowDat()
    {
        Dat = !Dat;
    }

    private void ShowApplicantControl()
    {
        ApplicantControl = !ApplicantControl;
    }

    private void ShowJobControl()
    {
        JobControl = !JobControl;
    }
}
