@page "/hrservices"
@inject NavigationManager navmanager
@inject HttpClient HttpClient
@using System.Linq;
@using XebecPortal.UI.Shared.Home.Models

<style>
    .overlay-services {
        height: auto;
        width: 100vw;
        overflow: hidden;
        animation: ease-in 0.15s;
    }

    .top {
        height: 10vh;
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    .bottom {
        padding-top: 5vh;
        height: auto;
        width: 100vw;
        display: flex;
    }

    .top-heading {
        height: 10vh;
        line-height: 10vh;
        color: #004393;
        font-size: 2em;
        font-family: opensans-condensed-bold;
    }

    .three {
        height: auto;
        width: 33.3vw;
    }

    .three-high1 {
        height: 50vh;
        margin-top: 10vh;
        width: 40vw;
        z-index: 2;
        position: absolute;
        margin-left: 0;
        background-color: white;
    }

    .three-high2 {
        height: 50vh;
        margin-top: 10vh;
        width: calc(40vw);
        z-index: 2;
        position: absolute;
        margin-left: calc(100vw/3);
        background-color: white;
    }

    .three-high3 {
        height: 50vh;
        margin-top: 10vh;
        width: calc(40vw);
        z-index: 2;
        position: absolute;
        margin-left: calc(2*100vw/3);
        background-color: white;
    }

    .three-container {
        height: 65vh;
        width: 95%;
        margin: auto;
    }

    .services-label {
        height: 10vh;
        border-top-left-radius: 7em;
        border-top-right-radius: 7em;
        color: white;
        text-align: center;
        background-color: #00bcae;
        font-weight: 700;
        font-size: 1em;
        line-height: 10vh;
        font-family: opensans-bold;
        width: 90%;
        margin: auto;
    }

    .services-image {
        height: 30vh;
        width: 90%;
        margin: auto;
        background-color: white;
    }

    .services-bottom {
        height: 20vh;
        width: 90%;
        margin: auto;
        background-color: white;
        border-bottom-left-radius: 7em;
        border-bottom-right-radius: 7em;
    }

    .applicant-applicant-profile {
        height: 30vh;
        background-image: url(/Img/applicantprofile.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: 0.25s all ease-in-out;
    }

    .applicant-my-jobs:hover {
        margin-top: 2.5vh;
        transform: scale(1.5);
    }
    .applicant-job-portal {
        height: 30vh;
        background-image: url(/Img/applicantjobportal.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .applicant-my-jobs {
        height: 30vh;
        background-image: url(/Img/myjobs.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .hr-job-portal {
        height: 30vh;
        background-image: url(/Img/applicantcontrol.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .hr-data-analytics {
        height: 30vh;
        background-image: url(/Img/dat.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .hr-create-a-job {
        height: 30vh;
        background-image: url(/Img/createjob.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .applicant-applicant-profile {
        height: 30vh;
        background-image: url(/Img/applicantprofile.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: 0.25s all ease-in-out;
    }

        .applicant-applicant-profile:hover {
            margin-top: 2.5vh;
            transform: scale(1.5);
        }

    .applicant-job-portal {
        height: 30vh;
        background-image: url(/Img/applicantjobportal.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: 0.25s all ease-in-out;
    }

        .applicant-job-portal:hover {
            margin-top: 2.5vh;
            transform: scale(1.5);
        }

    .applicant-my-jobs {
        height: 30vh;
        background-image: url(/Img/myjobs.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: 0.25s all ease-in-out;
    }

        .applicant-my-jobs:hover {
            margin-top: 2.5vh;
            transform: scale(1.5);
        }

    .hr-job-portal {
        height: 30vh;
        background-image: url(/Img/applicantcontrol.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: 0.25s all ease-in-out;
    }

        .hr-job-portal:hover {
            margin-top: 2.5vh;
            transform: scale(1.5);
        }

    .hr-data-analytics {
        height: 30vh;
        background-image: url(/Img/dat.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: 0.25s all ease-in-out;
    }

    .hr-data-analytics:hover {
        margin-top: 2.5vh;
        transform: scale(1.5);
    }

    .hr-create-a-job {
        height: 30vh;
        background-image: url(/Img/createjob.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: 0.25s all ease-in-out;
    }

        .hr-create-a-job:hover {
            margin-top: 2.5vh;
            transform: scale(1.5);
        }

    p {
        color: #004393;
        padding: 2em 1em 1em 1em;
        font-family: opensans-condensed-bold;
        font-size: 1em;
        text-align: center;
    }

    .applicant-applicant-profile1 {
        height: 100%;
        background-image: url(/Img/applicantprofile.png);
        background-size: cover;
        background-position: center;
    }

    .applicant-job-portal1 {
        height: 100%;
        background-image: url(/Img/applicantjobportal.png);
        background-size: cover;
        background-position: center;
    }

    .applicant-my-jobs1 {
        height: 100%;
        background-image: url(/Img/myjobs.png);
        background-size: cover;
        background-position: center;
    }

    .hr-job-portal1 {
        height: 50vh;
        margin-top: 10vh;
        background-image: url(/Img/applicantcontrol.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .hr-data-analytics1 {
        height: 50vh;
        margin-top: 10vh;
        background-image: url(/Img/dat.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .hr-create-a-job1 {
        height: 50vh;
        margin-top: 10vh;
        background-image: url(/Img/createjob.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
</style>

<div class="overlay-services">
    <div class="top">
        <h2 class="top-heading">HR SERVICES</h2>
    </div>
    <div class="bottom">
        <div class="three">
            <div class="services-label">APPLICANT CONTROL TOOL</div>
            <div class="services-image">
                <div class="hr-job-portal"></div>
            </div>
            <div class="services-bottom">
                <p>
                    Track the status of jobs advertised.
                </p>
            </div>
        </div>
     
        <div class="three">
            <div class="services-label">JOB CONTROL TOOL</div>
            <div class="services-image">
                <div class="hr-create-a-job" ></div>
            </div>
            <div class="services-bottom">
                <p>
                    We take you through a 5 step job creation and advertising process.
                </p>
            </div>
        </div>
       
        <div class="three">
            <div class="services-label">DATA ANALYTICS TOOL</div>
            <div class="services-image">
                <div class="hr-data-analytics" ></div>
            </div>
            <div class="services-bottom">
                <p>
                    Access a comprehensive data analytics tool.
                </p>
            </div>
        </div>
       
    </div>
</div>

@code {
   
    
}
