@page "/jobportal"
@inject NavigationManager navmanager
@inject HttpClient HttpClient
@using System.Linq
@using XebecPortal.UI.Shared.Home.Models
@using Microsoft.AspNetCore.Components;
@inject IJSRuntime JsRuntime

<style>

    .services-job-portal{
        height: 90vh;
        width: 100vw;
    }

</style>
<div class="services-job-portal" id="services">
    <XebecPortal.UI.Pages.Applicant.JobPortal />                      
</div>
    
@code {

    
}
