@page "/reviews"
<style>
    .overlay-reviews {
        z-index: 0;
        height: 80vh;
        top: 0;
        width: 100%;
        background-color: red;
    }

</style>
<div class="overlay-reviews">

</div>