@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

@font-face {
    src: url(/fonts/BebasNeue-Regular.ttf);
    font-family: bebas;
}

@font-face {
    src: url(/fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf);
    font-family: opensans-italic;
}

@font-face {
    src: url(/fonts/OpenSans-VariableFont_wdth,wght.ttf);
    font-family: opensans-variable;
}

@font-face {
    src: url(/fonts/OpenSansCondensed-Bold.ttf);
    font-family: opensans-condensed-bold;
}

@font-face {
    src: url(/fonts/OpenSansCondensed-Light.ttf);
    font-family: opensans-condensed-light;
}

@font-face {
    src: url(/fonts/OpenSansCondensed-LightItalic.ttf);
    font-family: opensans-condensed-light-italic;
}