/*
    Loading screen (small, grey) - done,
    Scroll bar - done,
    Buttons - done,
    Titles - done,
    Search Bar - Done (Need to implement on the various pages),
    Any icon that is interactable - hoverable
    Form design,
    Drop down list,
*/


/** {
    font-family: opensans-condensed
}*/

/* Global button styling */
input[type = "button"], input[type = "submit"], button {
    background-color: rgba(0, 188, 174,1);
    color: white;
    width: 100px;
    height: 5vh;
    border: none;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    font-family: opensans-condensed-bold;
    font-weight: 600;
    border: none;
    border-radius: 0.4em;
}

.default-button-style {
    background-color: rgba(0, 188, 174,1);
    color: white;
    width: 100px;
    height: 5vh;
    border: none;
    text-align: center;
    font-size: 1em;
    font-family: opensans-condensed-bold;
    font-weight: 600;
    border: none;
    border-radius: 0.4em;
    cursor: pointer;
}

button {
    background-color: rgba(0, 188, 174,1);
    color: white;
    width: 100px;
    height: 5vh;
    border: none;
    text-align: center;
    font-size: 1em;
    font-family: opensans-condensed-bold;
    font-weight: 600;
    border: none;
    border-radius: 0.4em;
}

/* Global scroll bar changes */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    /*background: #f1f1f1;*/
    background: rgba(0, 188, 174,1);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
        cursor: pointer;
    }

input[type="email"], input[type="password"], select:-webkit-autofill {
    background-color: transparent;    
    font-size: 1em;
    border: none;
    font-weight: 800;
    color: black;
    font-family: opensans-condensed-light;
}
/*    
    input[type = "button"], input[type = "submit"]:hover {
        background-color: #d35bc9;
    }

*/
/*Text formatting*/
h1 {
    font-family: opensans-condensed-bold !important;
    font-weight: bold !important;
    color: #004393 !important;
    font-size: 44px !important;
}

h2 {
    font-family: opensans-condensed-bold !important;
    font-weight: bold !important;
    font-size: 28px !important;
    color: #004393 !important;
}

h3 {
    font-family: opensans-condensed-bold !important;
    font-weight: bold !important;
    font-size: 15px !important;
}

h5 {
    font-family: opensans-condensed-bold !important;
    font-weight: bold !important;
    font-size: 16px !important;
}

p {
    font-family: opensans-condensed-bold !important;
    font-size: 16px !important;
}


.top-Image-thing {
    position: absolute;
    height: 10vh;
    width: 100%;
    top: 11%;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.progressed-circle {
    height: 70px;
    width: 70px;
    background-color: #00BCAE;
    border-radius: 50%;
}

.progress-rod {
    width: 83%;
    position: absolute;
    height: 2vh;
    bottom: 83%;
    left: 8%;
    background-color: #A9ABA7;
    z-index: -1;
}

.circle {
    height: 70px;
    width: 70px;
    background-color: #A9ABA7;
    border-radius: 50%;
}

.selected-rod {
    /*width: 23%;
    position: absolute;
    height: 2vh;
    bottom: 83%;
    left: 8%;
    background-color: #00bcae;
    z-index: -1;*/
    width: 32%;
    position: absolute;
    height: 2vh;
    bottom: 83%;
    left: 8%;
    background-color: #00bcae;
    z-index: -1;
}

.NumberDisplay {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-around;
    left: 0%;
    top: 13%;
    font-weight: 800;
    color: white;
    font-size: 2em;
}

.TextDisplay {
    font-weight: 600;
}

.selected-create-a-job-text-page {
    /*color: #00bcae;
    position: absolute;
    top: 22%;
    left: 4%;*/
    color: #00bcae;
    position: absolute;
    top: 22%;
    left: 7%;   
}

.application-form-text {
    /* left: 17%;
    position: absolute;
    top: 22%;*/
    left: 25%;
    position: absolute;
    top: 22%;
}

.selected-application-form-text {
    /*left: 17%;
    position: absolute;
    top: 22%;
    */
    left: 25%;
    position: absolute;
    top: 22%;
    color: #00bcae;
}

.collaboration-text {
    /*left: 45.5%;
    position: absolute;
    top: 22%;*/
    left: 65.5%;
    position: absolute;
    top: 22%;
}

.selected-collaboration-text {
    /*left: 45.5%;
    position: absolute;
    top: 22%;*/
    left: 65.5%;
    position: absolute;
    top: 22%;
    color: #00bcae;
}

.collaboration-text-part-2 {
    left: 58.5%;
    position: absolute;
    top: 22%;
}

.selected-collaboration-text-part-2 {
    left: 58.5%;
    position: absolute;
    top: 22%;
    color: #00bcae;
}

.phases-text {
    /*left: 32.5%;
    position: absolute;
    top: 22%;*/
    left: 47%;
    position: absolute;
    top: 22%;
}

.selected-phases-text {
    /*left: 32.5%;
    position: absolute;
    top: 22%;*/
    left: 47%;
    position: absolute;
    top: 22%;
    color: #00bcae;
}

.post-a-job-text {
    /*left: 76.5%;
    position: absolute;
    top: 22%;*/
    left: 88%;
    position: absolute;
    top: 22%;
}

.selected-post-a-job-text {
    /*left: 76.5%;
    position: absolute;
    top: 22%;*/
    left: 88%;
    position: absolute;
    top: 22%;
    color: #00bcae;
}

.summary-text {
    left: 91%;
    position: absolute;
    top: 22%;
}



/*Search bar classes*/

.search-wrapper-container {
    position: relative;
    margin-top: 25px;
    margin-bottom: 5px;
}

    .search-wrapper-container img {
        position: absolute;
        top: 5px;
        left: 5px;
        margin-left: 0.4em;
        padding-top: 0.1em;
    }

.search-bar-pic {
    width: 30px;
    height: 30px;
}

.search-bar-input {
    padding-left: 3.5em;
    background-color: white;
    height: 6vh;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 20%);
    border: white solid 0.1em;
    border-radius: 0.9em;
}

/*
    If the search bar does not look write on your page... add the following to it: width: 40%; left: 30%; and adjust accordingly
    <div class="search-wrapper-container">
        <input class="search-bar-input" placeholder="Search For Jobs" type="text" @oninput="SearchApplicants" />
        <img class="search-bar-pic" src="/Img/search.svg"/>
    </div>
*/

/*Loading screen classes*/

    .appform-submit-modal {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
    }
/*
        <div class="appform-submit-modal">
            <MudProgressCircular Size="Size.Large" Indeterminate="true" />
        </div>
*/
