
/*
    So thoughts on how to implement the CSS global feature
    I mainly think it should have the colour scheme, padding, font size, font colour, any hover effects, etc. included.
    Somethings that I can think of mainly is :
        button, 
        the text styling (font, weight, size)        
*/
/* 
    Scrollbar background - grey
    The green colour is generalized to an action event... We are using the colour for everything instead!!!!
    Burger menu isn't pointer cursor
    Each element / component that is being re-used need to have the same style...    
*/



/*    
    input[type = "button"], input[type = "submit"] {
    background-color: rgba(0, 188, 174,1);
    color: white;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    font-family: opensans-condensed-bold;
    border-radius: 1em;
    border: none;
    }
*/

/*    
    input[type = "button"], input[type = "submit"]:hover {
        background-color: #d35bc9;
    }

*/

/*
h1{
    font-family: opensans-condensed-bold;
}

h2 {
    font-family: opensans;
    font-weight: 600;
}

p{
    font-family: opensans;
}

*/

.top-Image-thing {
    position: absolute;
    height: 10vh;
    width: 100%;
    top: 11%;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.progressed-circle {
    height: 70px;
    width: 70px;
    background-color: #00BCAE;
    border-radius: 50%;
}

.progress-rod-page-2 {
    width: 63%;
    position: absolute;
    height: 2vh;
    bottom: 83%;
    left: 30%;
    background-color: #A9ABA7;
    z-index: -1;
}

.progress-rod-page-3 {
    width: 50%;
    position: absolute;
    height: 2vh;
    bottom: 83%;
    left: 43%;
    background-color: #A9ABA7;
    z-index: -1;
}

.progress-rod-page-4 {
    width: 36%;
    position: absolute;
    height: 2vh;
    bottom: 83%;
    left: 57%;
    background-color: #A9ABA7;
    z-index: -1;
}

.progress-rod-page-5 {
    width: 22%;
    position: absolute;
    height: 2vh;
    bottom: 83%;
    left: 71%;
    background-color: #A9ABA7;
    z-index: -1;
}

.circle {
    height: 70px;
    width: 70px;
    background-color: #A9ABA7;
    border-radius: 50%;
}

.selected-rod {
    width: 22%;
    position: absolute;
    height: 2vh;
    bottom: 83%;
    left: 8%;
    background-color: #00bcae;
    z-index: -1;
}

.selected-rod-selected-phase-page {
    width: 35%;
    position: absolute;
    height: 2vh;
    bottom: 83%;
    left: 8%;
    background-color: #00bcae;
    z-index: -1;
}

.selected-rod-selected-collaborators-page {
    width: 49%;
    position: absolute;
    height: 2vh;
    bottom: 83%;
    left: 8%;
    background-color: #00bcae;
    z-index: -1;
}

.selected-rod-selected-collaborators-page-2 {
    width: 63%;
    position: absolute;
    height: 2vh;
    bottom: 83%;
    left: 8%;
    background-color: #00bcae;
    z-index: -1;
}

.NumberDisplay {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-around;
    left: 0%;
    top: 13%;
    font-weight: 800;
    color: white;
    font-size: 2em;
}

.TextDisplay {
    font-weight: 600;
}

.selected-create-a-job-text {
    color: #00bcae;
    position: absolute;
    top: 21%;
    left: 4%;
}

.application-form-text {
    left: 17%;
    position: absolute;
    top: 21%;
}

.selected-application-form-text {
    left: 17%;
    position: absolute;
    color: #00bcae;
    top: 21%;
}

.collaboration-text {
    left: 45.5%;
    position: absolute;
    top: 21%;
}

.selected-collaboration-text {
    left: 45.5%;
    position: absolute;
    top: 21%;
    color: #00bcae;
}

.collaboration-text-part-2 {
    left: 58.5%;
    position: absolute;
    top: 21%;
}

.selected-collaboration-text-part-2 {
    left: 58.5%;
    position: absolute;
    top: 21%;
    color: #00bcae;
}

.phases-text {
    left: 32.5%;
    position: absolute;
    top: 21%;
}

.selected-phases-text {
    left: 32.5%;
    position: absolute;
    top: 21%;
    color: #00bcae;
}

.post-a-job-text {
    left: 76.5%;
    position: absolute;
    top: 21%;
}

.summary-text {
    left: 91%;
    position: absolute;
    top: 21%;
}